In [10]:
from collections import namedtuple

In [1]:
data = [ ('홍길동', 23, '01099990001'), 
    ('김철수', 31, '01099991002'), 
    ('이영희', 29, '01099992003'),
]

In [7]:
emp = data[0]

In [9]:
print(emp.name)

AttributeError: 'tuple' object has no attribute 'name'

In [14]:
Employee = namedtuple('Employee','name, age, cellphone')

In [16]:
data = [Employee._make(emp) for emp in data]

In [17]:
data

[Employee(name='홍길동', age=23, cellphone='01099990001'),
 Employee(name='김철수', age=31, cellphone='01099991002'),
 Employee(name='이영희', age=29, cellphone='01099992003')]

In [18]:
emp = data[0]

In [19]:
emp[0]

'홍길동'

In [20]:
emp[1]

23

In [21]:
emp.age

23

In [22]:
emp._asdict()

{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'}

In [44]:
data2 = [
    ('김용균', '무직', '010-7154-4842'),
    ('임세령', '증권업', '010-7989-4855'),
    ('서경선', '가정주부', '010-4050-3677')
]

In [43]:
Employee2 = namedtuple('Employee2', 'name, job, cell')

In [47]:
data2 = [Employee2._make(emp) for emp in data2]

In [48]:
data2

[Employee2(name='김용균', job='무직', cell='010-7154-4842'),
 Employee2(name='임세령', job='증권업', cell='010-7989-4855'),
 Employee2(name='서경선', job='가정주부', cell='010-4050-3677')]

In [49]:
emp1 = data2[0]

In [50]:
emp1.name

'김용균'

In [51]:
emp1.job

'무직'

In [53]:
emp._asdict()

{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'}

In [54]:
emp.name

'홍길동'

In [55]:
emp1.name

'김용균'

네임드 튜플은 값을 변경할 수 없는 튜플의 특징 그대로 가짐
_replace 함수로 값을 바꿀 수 있으나
이마저도 원래 튜플객체를 직접 변경하는 것이 아닌 값을 변경한 새로운 객체를 만들어 반환한다

In [56]:
emp._replace(name='긴또깡')

Employee(name='긴또깡', age=23, cellphone='01099990001')

In [57]:
emp.name

'홍길동'

In [60]:
new_emp = emp._replace(name='긴또깡', age=32)

In [61]:
new_emp

Employee(name='긴또깡', age=32, cellphone='01099990001')