## itertools.cycle

In [ ]:
import itertools
emp_pool = itertools.cycle(['김용균', '이장훈', '김무현', '유성룡'])

In [ ]:
next(emp_pool)
next(emp_pool)
next(emp_pool)

'유성룡'

next() 로 요청할 때마다 순서대로 근무자를 무한히 반복

In [ ]:
next(emp_pool)

'이장훈'

## itertools.accumulate (누적합계)

In [ ]:
import random

monthly_income = [] 
while len(monthly_income) < 10:
    num = random.randint(1, 80)
    if num not in monthly_income:
        monthly_income.append(num)

In [ ]:
monthly_income

[52, 20, 29, 14, 32, 9, 57, 45, 42, 27]

In [ ]:
result = list(itertools.accumulate(monthly_income,))
print(result)

[52, 72, 101, 115, 147, 156, 213, 258, 300, 327]

### 그때까지의 최댓값 (running maximum)

In [12]:
result = list(itertools.accumulate(monthly_income, max))
print(result)

[52, 52, 52, 52, 52, 52, 57, 57, 57, 57]

## itertools.groupby (키 값으로 데이터 묶기)

In [33]:
data = [
    {'name': '이민서', 'blood': 'O'},
    {'name': '이영순', 'blood': 'B'},
    {'name': '이상호', 'blood': 'AB'},
    {'name': '김지민', 'blood': 'B'},
    {'name': '최상현', 'blood': 'AB'},
    {'name': '김지아', 'blood': 'A'},
    {'name': '손우진', 'blood': 'A'},
    {'name': '박은주', 'blood': 'A'}
]

In [34]:
import operator
data = sorted(data, key=operator.itemgetter('blood') )

다양한 기준으로 정렬하는 operator.itemgetter 를 이용하였다

In [ ]:
data

[{'name': '김지아', 'blood': 'A'},
 {'name': '손우진', 'blood': 'A'},
 {'name': '박은주', 'blood': 'A'},
 {'name': '이상호', 'blood': 'AB'},
 {'name': '최상현', 'blood': 'AB'},
 {'name': '이영순', 'blood': 'B'},
 {'name': '김지민', 'blood': 'B'},
 {'name': '이민서', 'blood': 'O'}]

In [ ]:
grouped_data = itertools.groupby(data, key=operator.itemgetter('blood'))

In [ ]:
print(grouped_data)

<itertools.groupby object at 0x111b15b80>

In [38]:
result = {}
for key, group_data in grouped_data:
    result[key] = list(group_data)

In [ ]:
result

{'A': [{'name': '김지아', 'blood': 'A'},
  {'name': '손우진', 'blood': 'A'},
  {'name': '박은주', 'blood': 'A'}],
 'AB': [{'name': '이상호', 'blood': 'AB'}, {'name': '최상현', 'blood': 'AB'}],
 'B': [{'name': '이영순', 'blood': 'B'}, {'name': '김지민', 'blood': 'B'}],
 'O': [{'name': '이민서', 'blood': 'O'}]}

In [ ]:
import pprint
pprint.pprint(result)

{'A': [{'blood': 'A', 'name': '김지아'},
       {'blood': 'A', 'name': '손우진'},
       {'blood': 'A', 'name': '박은주'}],
 'AB': [{'blood': 'AB', 'name': '이상호'}, {'blood': 'AB', 'name': '최상현'}],
 'B': [{'blood': 'B', 'name': '이영순'}, {'blood': 'B', 'name': '김지민'}],
 'O': [{'blood': 'O', 'name': '이민서'}]}

## itertools.zip_longest

In [41]:
students = ['한민서', '황지민', '이영철', '이광수', '김승민']
rewards = ['사탕', '초컬릿', '젤리']

In [42]:
result = zip(students, rewards)
print(list(result))

[('한민서', '사탕'), ('황지민', '초컬릿'), ('이영철', '젤리')]

zip 으로 두 개의 다른 리스트를 페어링 할 경우 짧은쪽의 갯수만큼 페어링이 되고 나머지는 (여기서는 '이광수', '김승민') 무시된다

In [48]:
result = itertools.zip_longest(students, rewards, fillvalue= '오감자')
pprint.pprint(list(result))

[('한민서', '사탕'), ('황지민', '초컬릿'), ('이영철', '젤리'), ('이광수', '오감자'), ('김승민', '오감자')]

## itertools. permutations

1, 2, 3 숫자가 적힌 3장의 카드에서 두 장의 카드를 꺼내 만들 수 있는 2자리 숫자를 모두 구하기 (뽑는순서 상관 있음!)

In [ ]:
list(itertools.permutations([1,2,3], 2))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [50]:
for a, b in itertools.permutations(['1','2','3'], 2):
    print(a+b)

12
13
21
23
31
32

## itertools.combinations (뽑는 순서 노상관)

In [3]:
import itertools
list(itertools.combinations([1,2,3],2))

[(1, 2), (1, 3), (2, 3)]

In [4]:
for x,y in itertools.combinations(['1','2','3','4'],2):
    print(x+y)

12
13
14
23
24
34

In [5]:
it = itertools.combinations(range(1,46),6)

In [7]:
len(list(it))

8145060

중복 허용은 itertools.combination_with_replacement 하면 된다.

In [8]:
lotto = itertools.combinations_with_replacement(range(1,50),6)
len(list(lotto))

25827165